html, body {
    margin: 0px
}

header {
    width: 100vw;
    height: 15vh;
    background-color: antiquewhite;
    position: relative;

}

#rightbox{ 
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;

}

#leftbox{
    top: 39%;
    width: 300px;
    height: 150px;
    position: relative;
    background-color: blueviolet;
    display: flex;
}

.content {
    margin: 15px;
}

#profile{
    width: 100px;
    height: 120px;
    background-color: brown;
}
#username
{
    width: 100px;
    height: 30px;
    background-color: pink;
}