body{
    margin:0;
}

#main{
    background-color: lightgray;
    width:100px;
    min-width: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:-100px;
    top: 50px;
}
#button{
    width: 100px;
    position: absolute;
    right:0px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
}